[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dittoSeq"]
	path = dittoSeq
	url = https://github.com/dtm2451/dittoseq
[submodule "dittoViz"]
	path = dittoViz
	url = https://github.com/dtm2451/dittoviz
[submodule "magmaR"]
	path = magmaR
	url = https://github.com/cran/magmaR
